/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Raleway", sans-serif;
  }
  
  /* Colors */
  :root {
    --color-default: #181818;
    --color-primary: #EAD24C;
    --color-secondary: #812828;
    --color-ternary: #074564;
    --color-red-transparency: rgba(129, 40, 40, 0.7);
    --color-lightred-transparency: rgba(129, 40, 40, 0.3);
    --color-darkred-transparency: rgba(129, 40, 40, 0.85);
    --color-yellow-transparency: rgba(234, 210, 76, 0.8);
    --color-snowwhite-transparency: rgba(255, 255, 255, 0.9);
    --color-gray-transparency: rgba(255, 255, 255, 0.8);
    --color-lightgray-transparency: rgba(255, 255, 255, 0.6);
    --color-lightblue-transparency: rgb(7, 69, 100,0.3);
    --color-darkblue-transparency: rgb(7, 69, 100,0.8);
    --color-full-white: #fff;
  }
  
  /* Smooth scroll behavior */
  :root {
    scroll-behavior: smooth;
  }

  .btn {
    max-width: 200px;
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body {
    font-family: var(--font-default);
    color: var(--color-default);
  }
  
  a {
    color: var(--color-secondary);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
  }
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 40px 0 40px 0;
    min-height: 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .breadcrumbs:before {
    content: "";
    background-color: var(--color-secondary);
    position: absolute;
    inset: 0;
  }
  
  .breadcrumbs h2 {
    font-size: 56px;
    font-weight: 500;
    color: var(--color-full-white);
    font-family: var(--font-secondary);
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary);
  }
  
  .breadcrumbs ol a {
    color: var(--color-gray-transparency);
    transition: 0.3s;
  }
  
  .breadcrumbs ol a:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: var(--color-full-white);
    content: "/";
  }
  
  /*--------------------------------------------------------------
  # Scroll top button
  --------------------------------------------------------------*/
  .scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--color-secondary);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .scroll-top i {
    font-size: 24px;
    color: var(--color-full-white);
    line-height: 0;
  }
  
  .scroll-top:hover {
    background: var(--color-yellow-transparency);
    color: var(--color-full-white);
  }
  
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
  }
  

  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .header {
    /* transition: all 0.5s; */
    z-index: 997;
    padding: 24px 0;
    position: fixed;
    background: var(--color-secondary);
    
  }
  
  @media (max-width: 1200px) {
    .header {
      padding: 12px 0;
    }
  }
  
  .header .logo img {
    max-height: 50px;
    margin-right: 6px;
  }
  
  .header .logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-full-white);
    font-family: var(--font-secondary);
    margin: 0;
  }

  /* Login button */
  .navbar .login,
  .navbar .login:focus {
    color: #fff;
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 20px;
    background-color: var(--color-ternary);
    transition: 0.3s;
    font-size: 14px;
  }

  .navbar .login:hover,
  .navbar .login:focus:hover {
    background: var(--color-primary);
    color: #000;
  }

  /* Form save button */
  .login button[type=submit] {
    background: var(--color-secondary);
    margin-top: 20px;
    border: 0;
    padding: 12px 40px;
    color: #fff;
    transition: 0.4s;
  }
  
  .login button[type=submit]:hover {
    background: var(--color-primary);
    color: var(--color-default);
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Desktop Navigation
  --------------------------------------------------------------*/
  @media (min-width: 1280px) {
    .navbar {
      padding: 0;
    }
  
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  
    .navbar li {
      position: relative;
    }
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0 15px 30px;
      font-family: var(--font-default);
      font-size: 15px;
      font-weight: 500;
      color: var(--color-lightgray-transparency);
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: var(--color-full-white);
    }
  
    .navbar .dropdown ul {
      display: block;
      position: absolute;
      left: 14px;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: var(--color-full-white);
      box-shadow: 0px 0px 30px var(--color-red-transparency);
      transition: 0.2s;
    }
  
    .navbar .dropdown ul li {
      min-width: 200px;
    }
  
    .navbar .dropdown ul a {
      padding: 10px 20px;
      font-size: 15px;
      text-transform: none;
      color: var(--color-secondary);
    }
  
    .navbar .dropdown ul a i {
      font-size: 12px;
    }
  
    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
      color: var(--color-primary);
    }
  
    .navbar .dropdown:hover>ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
  
    .navbar .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
  }
  
  @media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  @media (min-width: 1280px) {
  
    .mobile-nav-show,
    .mobile-nav-hide {
      display: none;
    }
  }
  
  /*--------------------------------------------------------------
  # Mobile Navigation
  --------------------------------------------------------------*/
  @media (max-width: 1279px) {
    .navbar {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      max-width: 400px;
      bottom: 0;
      transition: 0.3s;
      z-index: 9997;
    }
  
    .navbar ul {
      position: absolute;
      inset: 0;
      padding: 50px 0 10px 0;
      margin: 0;
      background: var(--color-red-transparency);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }
  
    li { 
      list-style-type: none;
    }
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content:left;
      padding: 10px 20px;
      font-family: var(--font-default);
      font-size: 15px;
      font-weight: 600;
      color: var(--color-gray-transparency);
      white-space: nowrap;
      transition: 0.3s;
      min-width: 100px;
      max-width: 140px;
      margin-left: 10px;
    }
  
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: var(--color-full-white);
    }
  
    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
      position: static;
      display: none;
      padding: 10px 0;
      margin: 10px 20px;
      background-color: var(--color-red-transparency);
    }
  
    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
      display: block;
    }
  
    .mobile-nav-show {
      color: var(--color-snowwhite-transparency);
      font-size: 28px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
    }
  
    .mobile-nav-hide {
      color: var(--color-snowwhite-transparency);
      font-size: 32px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      position: fixed;
      right: 15px;
      top: 15px;
      z-index: 9999;
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
  
    .mobile-nav-active .navbar {
      right: 0;
    }
  
    .mobile-nav-active .navbar:before {
      content: "";
      position: fixed;
      inset: 0;
      background: var(--color-red-transparency);
      z-index: 9996;
    }
  }

  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: #f8fcf9;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    /* font-size: 32px; */
    font-weight: 600;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    /* content: ""; */
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--color-secondary);
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
    font-size: 14px;
    color: #919191;
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  .footer {
    font-size: 14px;
  }
  
  .footer .footer-content {
    background-color: #f7f9fc;
    background-size: contain;
    padding: 60px 0 30px 0;
  }
  
  .footer .footer-content .footer-info {
    margin-bottom: 30px;
  }
  
  .footer .footer-content .footer-info .logo {
    line-height: 0;
    margin-bottom: 25px;
  }
  
  .footer .footer-content .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-content .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    margin-top: 3px;
  }
  
  .footer .footer-content .footer-info p {
    font-size: 15px;
    margin-bottom: 0;
    font-family: var(--font-primary);
    color: var(--color-secondary);
  }
  
  .footer .footer-content .social-links a {
    font-size: 14px;
    line-height: 0;
    display: inline-block;
    width: 32px;
    height: 32px;
    color: rgba(27, 47, 69, 0.5);
    margin-right: 10px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    color: #fff;
    border-radius: 50px;
  }
  
  .footer .footer-content .social-links a:hover {
    background-color: var(--color-primary);
  }
  
  .footer .footer-content h4 {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-ternary);
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-content .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-content .footer-links ul i {
    margin-right: 2px;
    color: var(--color-ternary);
    font-size: 16px;
    line-height: 0;
  }
  
  .footer .footer-content .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-content .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-content .footer-links ul a {
    color: var(--color-ternary);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-content .footer-links ul a:hover {
    color: var(--color-secondary);
  }
  
  .footer .footer-content .footer-contact p {
    line-height: 26px;
    color: var(--color-ternary);
  }
  
  .footer .footer-legal {
    background: #fff;
    padding: 30px 0;
  }
  
  .footer .footer-legal .copyright {
    text-align: center;
    color: var(--color-secondary);
  }
  
  .footer .footer-legal .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
    color: var(--color-secondary);
  }
  
  